<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="#{cshop.description}"/>
    <meta name="author" th:content="#{cshop.author}"/>
    <title>Cloth Shop</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/remicon/css/remicon.css}" rel="stylesheet"/>
    <link th:href="@{/css/template.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/catalog.css}" rel="stylesheet"/>
</head>
<body>
<!-- HEADER-->
<th:block th:include="fragment/header :: header"/>
<div class="container">
    <div class="my-4">
        <h2>Result</h2>
        <big th:text="${'(' + #lists.size(items) + ' Items found)'}"></big>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 catalog-no-item" th:if="${#lists.size(items) &lt; 1}">
            No item
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 catalog-item" th:each="item : ${items}">
            <div class="card h-100">
                <div class="catalog-item-img">
                    <img class="card-img-top" th:src="${item.imageUrl}" alt=""/>
                    <div href="#" class="card-img-overlay">
                        <ul class="catalog-item-option">
                            <li>
                                <button>
                                    <span class="icon-view"></span>
                                </button>
                            </li>
                            <li>
                                <form id="formCartAdd" action="/cart/add" method="post">
                                    <input type="hidden" name="itemId" th:value="${item.id}"/>
                                    <button>
                                        <span class="icon-shopping-cart"></span>
                                    </button>
                                </form>
                            </li>
                            <li>
                                <button>
                                    <span class="icon-star"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <h6 class="card-title">
                            <span th:text="${item.name}"></span>
                        </h6>
                        <p class="card-text"><b>PHP 100.00</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGINATION-->
    <th:block th:include="fragment/catalog/pagination :: pagination"/>
</div>

<!-- FOOTER-->
<th:block th:include="fragment/footer :: footer"/>
<div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="cart-modal-title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cart-modal-title">
                    <i class="material-icons">assignment_turned_in</i>
                    Item successfully added to your cart
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
                <button type="button" class="btn btn-success">Proceed to checkout</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/pooper/pooper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/catalog.js}"></script>
</body>

</html>