<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="#{cshop.description}"/>
    <meta name="author" th:content="#{cshop.author}"/>
    <title>Cloth Shop</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/remicon/css/remicon.css}" rel="stylesheet"/>
    <link th:href="@{/css/template.css}" rel="stylesheet"/>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <link th:href="@{/css/item-detail.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <th:block th:include="fragment/nav :: nav"/>
</header>
<div class="container detail-container">
    <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
    </h1>
    <div class="row main-section">
        <div class="col-md-6">
            <img class="item-img img-fluid" th:src="${item.imageUrl}" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3" th:text="${item.name}"/>
            <h3 class="my-3" th:text="${'PHP ' + #numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')}"/>
            <h3 class="my-3">Item Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies,
                justo eu convallis placerat, felis enim.</p>
            <h3 class="my-3">Item Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>
    </div>
</div>
<th:block th:include="fragment/footer :: footer"/>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/pooper/pooper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/nav.js}"></script>
</body>
</html>