<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="#{cshop.description}"/>
    <meta name="author" th:content="#{cshop.author}"/>

    <title>Cloth Shop</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/remicon/css/remicon.css}" rel="stylesheet"/>
    <link th:href="@{/css/template.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid containerLogin">
    <div class="notif-section">
        <th:block th:include="fragment/notification/error :: error"/>
    </div>
    <div class="loginTitle" th:if="${param.error} eq null and ${activation} eq null">
        <h2>ClothShop</h2>
        <p>Sign in with your email.</p>
    </div>
    <div class="wrapper">
        <form action="/login" method="post" id="formLogin">
            <input name="username" placeholder="Email" type="text" autocomplete="off"/>
            <input name="password" placeholder="Password" type="password"/>
            <button>Sign in</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>
    </div>
</div>
<th:block th:include="fragment/footer :: footer"/>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/pooper/pooper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/login.js}"></script>
</body>
</html>