<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="#{cshop.description}"/>
    <meta name="author" th:content="#{cshop.author}"/>

    <title>Cloth Shop</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/remicon/css/remicon.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<th:block th:include="fragment/header :: header"/>
<div class="login-page">
    <div class="alert alert-success activation-message" th:if="${activation} != null and ${activation}">
        <p th:text="#{login.message.success}"></p>
    </div>
    <div class="alert alert-danger login-error" th:if="${param.error} != null and ${activation} eq null">
        <p th:text="#{login.message.error}"></p>
    </div>
    <div class="login-title" th:if="${param.error} eq null and ${activation} eq null">
        <h2>Welcome</h2>
        <p>Sign in with your email.</p>
    </div>
    <div class="form">
        <form action="/login" method="post" class="login-form">
            <input type="text" placeholder="Email" name="username"/>
            <input type="password" placeholder="Password" name="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>
    </div>
</div>
<th:block th:include="fragment/footer :: footer"/>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/pooper/pooper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/header.js}"></script>
</body>
</html>