<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="#{cshop.description}"/>
    <meta name="author" th:content="#{cshop.author}"/>

    <title>Cloth Shop</title>
    <!-- Google material fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for header html -->
    <link th:href="@{/css/header.css}" rel="stylesheet"/>

    <!-- Custom styles for header html -->
    <link th:href="@{/css/register.css}" rel="stylesheet"/>

    <link th:href="@{/css/reg-validating.css}" rel="stylesheet"/>

</head>
<body>
    <th:block th:include="fragment/header :: header"/>
    <div class="alert alert-success registration-message reg-val-message" role="alert">
        <p align="center">We sent an email to <b th:text="${email}" />. It contain a link you need to click in order to confirm
            your account.
            <p align="center">You need to do this before you can access our site as a registered member</p>
        </p>
        <ul class="reg-val-options">
            <li>
                <form action="/register/resend-confirmation" method="post">
                    <input type="hidden" name="email" th:value="${email}"/>
                    <button class="btn btn-success">Resend Confirmation Email</button>
                </form>
            </li>
            <li>
                <form class="form-cancel-registration" action="register/change-email-address" method="post">
                    <input type="hidden" name="email" th:value="${email}"/>
                    <button class="btn btn-success">Change Email Address</button>
                </form>
            </li>
            <li>
                <form action="" method="post">
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <button class="btn btn-success">Cancel Registration</button>
                </form>
            </li>
        </ul>
    </div>

    <!-- Footer -->
    <th:block th:include="fragment/footer :: footer"/>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <script>
        $("document").ready(function() {
            $(".form-cancel-registration").submit(function() {
                var new_email = prompt("Enter new email address");

                if (new_email != null) {
                    var input = $("<input>").attr("type", "hidden").attr("name", "new_email").val(new_email);
                    $(this).append($(input));
                    return true;
                } else {
                    return false;
                }
            });
        });
    </script>
</body>
</html>