<div th:fragment="nav">
    <nav class="navbar navbar-custom navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">ClothShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <th:block th:include="fragment/nav/search :: search"/>
                        <div class="ajax-item-search-results" style="display: none;"></div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active" th:if="${signedInUser eq null}">
                        <div class="content-group">
                            <a class="nav-link" href="/login">LOGIN
                                <span class="sr-only">(current)</span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item" th:if="${signedInUser != null}">
                        <div class="content-group dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon-user" style="font-size:22px"></span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="#btnAccount">
                                <a class="dropdown-header">
                                    Signed in as <br />
                                    <span th:text="${signedInUser.email}" />
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/account/dashboard">
                                    Help
                                </a>
                                <a class="dropdown-item" href="/account/setting">
                                    Settings
                                </a>
                                <a class="dropdown-item" href="/logout">
                                    Sign out
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" th:if="${signedInUser != null}">
                        <th:block th:include="fragment/nav/inbox :: inbox" />
                    </li>
                    <li class="nav-item">
                        <th:block th:include="fragment/nav/cart :: cart" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
