body {
  padding: 0px;
  margin: 0px;
  background: #dcdde1;
}

header {
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 66px;
    width: 100%;
}

body:nth-child(2) {
    padding-top: 66px;
}

.card {
  border: none;
  border-radius: 0;
  background: #fff;
  height: 350px !important;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.card .card-body {
    height: 120px !important;
}

.card-img-top {
    flex: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
}

.catalog-item-img {
  display: flex;
  align-items: center;
  height: 230px;
}

.catalog-item {
  margin-bottom: 30px;
}

.catalog-no-item {
    height: 450px;
}

.card-img-overlay {
  border-top: 40px solid #fff;
  display: none;
  height: 230px;
  padding: 0px !important;
  margin: 0px !important;
}

.catalog-item-option {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    background: #5f27cd;
    padding: 0px 6px;
    margin: 0px;
}

.catalog-item-option li {
    width: 75px;
    margin: 0px 6px;
    height: 70px;
}

.catalog-item-option li form {
  display: inline;
}

.catalog-item-option li button {
    background: rgba(52, 31, 151,1.0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 0;
    cursor: pointer;
}

.catalog-item-option li button span {
  font-size: 20px;
  color: #fff;
}

#catalog-pagination {
  margin: 50px 0px;
}

#catalog-pagination li.active a {
    background: #5f27cd;
    border-color: #5f27cd;
}

@media (min-width: 380px) and (max-width: 574px){
  .card {
       margin-right: 20%;
       margin-left: 20%;
  }
}
