
.card {
  border-radius: 1px;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(135,152,164,0.4);
}

.card:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(135,152,164,0.8);
}

.card-img-top {
  flex: 1;
  height: 100%;
  max-width: 100%;
  background-size: contain;
}

.catalog-item-img {
  display: flex;
  align-items: center;
  height: 280px;
}

.catalog-item {
  margin-bottom: 30px;
}

.catalog-no-item {
    height: 450px;
}

.card-img-overlay {
  display: none;
  position: absolute;
  height: 280px;
  background: rgba(255, 255, 255, 0.8);
}

ul.catalog-item-option {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    padding-top: 25%
}

ul.catalog-item-option li {
    display: inline-flex;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,0.4);
}

ul.catalog-item-option li form {
  display: flex;
}

ul.catalog-item-option li form a, ul.catalog-item-option li form span{
  margin: auto;
}

ul.catalog-item-option li:nth-child(1) {
  background: #2ecc71;
}

ul.catalog-item-option li:nth-child(2) {
  background: #8e44ad
}

ul.catalog-item-option li:nth-child(3) {
  background: #95a5a6;
}

ul.catalog-item-option li a {
  padding: 12px 16px;
}

ul.catalog-item-option li a, ul.catalog-item-option li a i{
  font-size: 14px;
  margin: auto;
  color: #fff;
}

.pagination {
  margin-bottom: 30px;
}
