body {
  padding: 0px;
  margin: 0px;
  background: #dcdde1;
}

header {
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 66px;
    width: 100%;
}

body:nth-child(2) {
    padding-top: 66px;
}

.card {
  border: none;
  border-radius: 0;
  background: #fff;
  height: 350px !important;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.card .card-body {
    height: 120px !important;
}

.card-img-top {
    flex: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.catalog-item-img {
  display: flex;
  align-items: center;
  height: 230px;
}

.catalog-item {
  margin-bottom: 30px;
}

.catalog-no-item {
    height: 450px;
}

.card-img-overlay {
  display: none;
  height: 230px;
  padding: 0px !important;
  margin: 0px !important;
}

.catalog-item-option {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    background: rgba(47, 54, 64, 0.6);
    padding: 0px 6px;
    margin: 0px;
}

.catalog-item-option li {
    width: 75px;
    margin: 0px 6px;
    height: 70px;
    border-radius: 5px;
     -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.catalog-item-option li a {
    text-decoration: none;
}

.catalog-item-option li form {
  display: inline;
}

.catalog-item-option li button {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 0;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.catalog-item-option li button span {
  font-size: 25px;
  color: #000;
}

#catalog-pagination {
  margin: 50px 0px;
}

#catalog-pagination li.active a {
    background: #5f27cd;
    border-color: #5f27cd;
}

.item {
    border: none;
    border-radius: 0;
    background: #fff;
    height: 350px !important;
}

.item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.item-img {
  display: flex;
  align-items: center;
  height: 230px;
  cursor: pointer;
}

.item-body {
    padding: 2px 8px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
}

.item-body a {
    text-decoration: none;
}

.item-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    font-weight: 550;
    line-height: 15px;
    padding: 0px;
    margin: 0px;
    height: 32px;
    overflow: hidden;
}

.item-title:hover {
    color: #0984e3;
}

.item-price {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #f39c12;
}

.item-control {
    display: flex;
    justify-content: flex-end;
}

.item-control button {
    margin-left: 5px;
    border: 1px solid #636e72;
    box-shadow: none;
    width: 60px;
    height: 32px;
    color: #636e72;
    background: inherit;
    transition: background 1.6s, color 1.6s. box-shadow 1.6s;
    cursor: pointer;
}

.item-control button:nth-child(1):hover {
    color: #fff;
    background: #ff7675;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.item-control button:nth-child(2):hover {
    color: #fff;
    border: 0;
    background: #0984e3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.item-control button span {
    font-size: 14px;
}

@media (min-width: 380px) and (max-width: 574px){
  .card {
       margin-right: 20%;
       margin-left: 20%;
  }
}
