body {
  padding: 0px;
  margin: 0px;
  background: #dcdde1;
}

.login {
    width: 100%;
    height: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px !important;
    padding-top: 54px;
}

.login .notif-section {
    position: fixed;
    margin-top: 20px;
    top: 0px;
    right: 0px;
    opacity: 0;
    transition: margin-right 0.2s, opacity 0.2s;
}

.login .header-login {
    margin: 0px !important;
    padding: 0px !important;
    text-align: center;
}

.login .header-login p {
    font-size: 12px;
}

.login .wrapper {
  background: #fff;
  height: 250px;
  width: 300px;
  border: 0;
  border-radius: 2px;
  margin: 0px !important;
  padding: 0px !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#form-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-login input {
    height: 37px;
    padding: 15.5px 21px;
    font-size: 12px;
    width: 80%;
    margin-bottom: 5%;
    outline-color: #5f27cd;
}

#form-login button {
  outline: 0;
  background: #5f27cd;
  width: 80%;
  cursor: pointer;
  border: 0;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#form-login button:hover,.form button:active,.form button:focus {
  background: #341f97;
}

#form-login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
#form-login .message a {
  color: #341f97;
  text-decoration: none;
}
