
.containerLogin {
    border: 1px solid black;
    height: 768px;
}

.login-title {
  text-align: center;
}

.login-title p {
  font-weight: 300;
  color: #000;
}

.login-error {
  display: flex;
  width: 360px;
  height: 86px;
}

.login-error p {
    flex: 1;
    text-align: center;
    margin: auto;
    padding: 8px 16px;
    border-radius: 3px;
}

.activation-message {
    display: flex;
    width: 360px;
    height: 86px;
}

.activation-message p {
    flex: 1;
    text-align: center;
    margin: auto;
    padding: 8px 16px;
    border-radius: 3px;
}

.wrapper {
  background: #fff;
  height: 250px;
  width: 300px;
  border: 0;
  border-radius: 2px;
  margin: 0px !important;
  padding: 0px !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.formLogin {
    display: none;
}

.form input bak {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  width: 100%;
  border-style: solid;
  border-color: #8395a7;
  border-width: thin;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.formLogin input {
    padding: 15px;
    border: 0;
    height: 42px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 14.5px 16px;
    width: 100%;
    outline: 0 !important;
}

.formLogin button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #5f27cd;
  width: 100%;
  border: 0;
  border-radius: 3px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.formLogin button:hover,.form button:active,.form button:focus {
  background: #341f97;
}

.formLogin .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.formLogin .message a {
  color: #341f97;
  text-decoration: none;
}

.registration-message {
    width: 80%;
    margin: 8% auto;
    margin-bottom: 400px;
}

@media (max-width:360px) {

  .login-page {
    width: 90%;
    padding-bottom: 80px;
  }

  .login-error {
    width: 100%;
  }

  .register-error {
      width: 100%;
    }

  .form {
    width: 100%;
    padding: 45px 8px;
  }

  .form input {
    padding: 10px;
    font-size: 12px;
  }

  .form button {
    padding: 10px;
    font-size: 12px;
  }
}