body {
  padding-top: 54px;
  background: #dcdde1;
}

.navbarCustom {
    background-color: #f1f2f6;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.navbarCustom .container {
    margin: 5px auto;
}

.navbarCustom .navbar-brand,
.navbarCustom .navbar-text {
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.navbarCustom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbarCustom .nav-item.active .nav-link,
.navbarCustom .nav-item:hover .nav-link {
    color: #000;
}

.navbarCustom .itemContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 9px;
    position: relative;
}

.navbarCustom #item-login {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding-right: 30px;
    font-size: 12px;
    font-weight: 500;
}

.navbarCustom .itemContent .nav-link {
    margin: 0px !important;
    padding: 0px !important;
    display:flex;
    align-items: center;
    justify-content: center;
}

.navbarCustom .itemContent .nav-link span {
    color: #2d3436;
}

.navbarCustom .badge {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 90px;
    min-width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    padding: 0 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    bottom: 17px;
    left: 18px;
    background: #341f97;
}

.navbarCustom .dropdown-toggle span {
    position: relative;
    left: 4px;
}

.navbarCustom .dropdown-header {
    font-size: 13px;
    opacity: 0.8;
}

.navbarCustom .dropdown-item {
    font-size: 13px;
}

.navbarCustom .dropdown-item:hover {
    color: #fff !important;
    background: #5352ed;
}

.navbarCustom input[name='search'] {
    border: 0;
    height: 32px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    width: 300px;
    padding: 14.5px 16px;
}

.navbarCustom input[name='search']:focus {
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.navbarCustom .btnSearch {
    font-size: 12px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    padding: 0;
    border: 0;
    width: 50px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
    background: #5f27cd;
}

.navbarCustom .btnSearch:focus {
    box-shadow: none;
}

.navbarCustom .btnSearch span {
    color: #fff;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}