body {
  padding-top: 54px;
  background: #ecf0f1;
}

.navbar-custom {
    background-color: #f1f2f6;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.navbar-custom .container {
    margin: 5px auto;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #000;
}

.navbar-custom .nav-item .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 9px;
    position: relative;
}

.navbar-custom #item-login {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding-right: 30px;
    font-size: 12px;
}

.navbar-custom .nav-item .nav-link {
    margin: 0px !important;
    padding: 0px !important;
    display:flex;
    align-items: center;
    justify-content: center;
}

.navbar-custom .account-toggle {
    margin: 0px !important;
    padding: 0px !important;
    display:flex;
    align-items: center;
    justify-content: center;
}

.navbar-custom .account-toggle span {
    position: relative;
    left: 4px;
}

.navbar-custom .nav-item a span {
    color: #2d3436;
}

.navbar-custom .badge {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 90px;
    min-width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    padding: 0 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    bottom: 17px;
    left: 18px;
    background: #341f97;

}

.navbar-custom .dropdown-header {
    font-size: 13px;
    opacity: 0.8;
}

.navbar-custom .dropdown-item {
    font-size: 13px;
}

.navbar-custom .settings-item:hover {
    color: #fff !important;
    background: #5352ed;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}