.navbar-custom {
    background-color: #F1F1F1;
    border: 1px solid #E5E5E5;
}

.navbar-custom .container {
    margin: 5px auto;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #000;
}

.navbar-custom .content-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 9px;
    position: relative;
    font-size: 12px;
}

.navbar-custom ul:nth-child(2) li:nth-child(1) {
    margin-right: 20px;
}

.navbar-custom .content-group .nav-link {
    margin: 0px !important;
    padding: 0px !important;
    text-align: center;
    line-height: 25px;
}

.navbar-custom .content-group .nav-link span {
    color: #2d3436;
    font-size:25px;
}

.navbar-custom .badge {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    border-radius: 90px;
    min-width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    padding: 0 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    bottom: 19px;
    left: 19px;
    background: #0078ff;
}

.navbar-custom .dropdown-toggle span {
    position: relative;
    left: 4px;
}

.navbar-custom .dropdown-header {
    font-size: 13px;
    opacity: 0.8;
}

.navbar-custom .dropdown-item {
    font-size: 13px;
}

.navbar-custom .dropdown-item:hover {
    color: #fff !important;
    background: #5352ed;
}

.navbar-custom input[name='search'] {
    border: 0;
    height: 32px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    width: 320px;
    padding: 14.5px 16px;
}

.navbar-custom input[name='search']:focus {
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.navbar-custom .btn-search {
    font-size: 12px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    padding: 0;
    border: 0;
    width: 50px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-custom .btn-search:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.navbar-custom .btn-search:focus {
    box-shadow: none;
}

.navbar-custom .btn-search span {
    color: #000;
}

.toolbar {
    background: #fff;
    height: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.toolbar > .container {
    height: 100%;
}

.toolbar .container > ul {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toolbar .container > ul > li {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: inline;
    cursor: pointer;
    position: relative;
    margin: 0px;
    padding: 0px 8px;

}

.category-1 {
    position: absolute;
}

.categories > ul {
    visibility: hidden;
}

.categories:hover ul {
    visibility: visible;
}

