.reg-val-options {
    list-style-type: none;
    text-align: center;
    margin-top: 2%;
}

.reg-val-options li {
    display: inline;
}

.reg-val-options li form {
    display: inline;
}

.reg-val-message p {
    padding: 0;
    margin: 0;
}