body {
  padding: 0px;
  margin: 0px;
  background: #dcdde1;
}

header {
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 66px;
    width: 100%;
}

body:nth-child(2) {
    padding-top: 66px;
}

.register {
    width: 100%;
    height: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px !important;
    padding-top: 54px;
}

.register .wrapper {
  background: #fff;
  height: 350px;
  width: 300px;
  border: 0;
  border-radius: 2px;
  margin: 0px !important;
  padding: 0px !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#form-register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-register .formGroup {
    width: 80%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5%;
}

#form-register input {
    width: 100%;
    height: 37px;
    padding: 15.5px 21px;
    font-size: 12px;
    outline-color: #5f27cd;
}

#form-register .inputError {
    color: #e84118;;
    font-size: 10px;
    padding: 0px !important;
    margin: 0px  !important;
}

#form-register button {
  outline: 0;
  background: #5f27cd;
  width: 80%;
  cursor: pointer;
  border: 0;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#form-register button:hover {
  background: #341f97;
}

#form-register .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

#form-register .message a {
  color: #341f97;
  text-decoration: none;
}

/* validating(dot)html */
.validating {
    display: flex:
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 768px;
}

.validating .message {
    margin-top: 20px;
    text-align: center;
}

#content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content .selection {
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
}

#content .selection li {
    margin: 8px;
}

#content .selection li form button {
    width: 180px;
    outline: 0;
    background: #5f27cd;
    cursor: pointer;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#content .selection li form button:hover {
    background: #341f97;
}




