.form-control {
    font-weight: 300;
    font-size: 0.875rem;
    padding: 14.5px 16px;
    border-radius: 3px;
    border-color: rgba(177,177,177,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
}

.input-error {
    outline-color: #e84118;
    border: 2px solid #e84118;
    background: rgba(232, 65, 24, 0.2)
}

.notif {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 50px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #fff;
    position:relative;
    cursor: pointer;
}

.notif .notif-cancel {
    position: absolute;
    font-size: 8px;
    font-weight: bold;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.notif-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
    border-radius: 2px 0px 0px 2px;
}

.notif-head span {
    font-size: 16px;
    color: #fff;
}

.notif-error .notif-head {
    background: #e84118;
}

.notif-warning .notif-head {
    background: #ff9f43;
}

.notif-success .notif-head {
    background: #16a085;
}

.notif-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 88%;
    height: 100%;
    font-size: 12px;
    color: #000;
    margin-left: 10px;
}

.notif-body h6 {
    font-size: 0.9em;
    font-weight: bold;
}

.notif-body p, .notif-body h6 {
    margin: 0px !important;
    padding: 0px !important;
}

.notif-link {
    display: inline;
    margin: 0px !important;
    padding: 0px !important;
}

.notif-link input[type='submit'] {
    margin: 0px !important;
    padding: 0px !important;
    background: none;
    border: none;
    color: #1e90ff;
}

.notif-link input[type='submit']:hover {
    text-decoration: underline;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    width: 240px;
    padding: 10px 0px;
    margin: 0px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 2px;
    border: 1px solid black;
    border-color: rgba(116, 125, 140, 0.5);
}

.list .list-item {
    font-size: 12px;
    width: 100%;
    cursor: pointer;
    display: block;
    color: #000;
    padding: 5px 10px;
}

.list .list-item:hover {
    background: rgba(30, 144, 255,1.0);
    color: #fff;
}