.form-control {
    font-weight: 300;
    font-size: 0.875rem;
    padding: 14.5px 16px;
    border-radius: 3px;
    border-color: rgba(177,177,177,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
}

.input-error {
    outline-color: #e84118;
    border: 2px solid #e84118;
    background: rgba(232, 65, 24, 0.2)
}

.notif {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 50px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #fff;
    position:relative;
    cursor: pointer;
}

.notif .notif-cancel {
    position: absolute;
    font-size: 8px;
    font-weight: bold;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.notif-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
    border-radius: 2px 0px 0px 2px;
}

.notif-head span {
    font-size: 16px;
    color: #fff;
}

.notif-error .notif-head {
    background: #e84118;
}

.notif-warning .notif-head {
    background: #ff9f43;
}

.notif-success .notif-head {
    background: #16a085;
}

.notif-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 88%;
    height: 100%;
    font-size: 12px;
    color: #000;
    margin-left: 10px;
}

.notif-body h6 {
    font-size: 0.9em;
    font-weight: bold;
}

.notif-body p, .notif-body h6 {
    margin: 0px !important;
    padding: 0px !important;
}

.notif-link {
    display: inline;
    margin: 0px !important;
    padding: 0px !important;
}

.notif-link input[type='submit'] {
    margin: 0px !important;
    padding: 0px !important;
    background: none;
    border: none;
    color: #1e90ff;
}

.notif-link input[type='submit']:hover {
    text-decoration: underline;
}

.item {
    border: none;
    border-radius: 0;
    background: #fff;
    height: 350px !important;
}

.item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.item-img {
  display: flex;
  align-items: center;
  height: 230px;
  cursor: pointer;
}

.item-body {
    padding: 2px 8px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
}

.item-body a {
    text-decoration: none;
}

.item-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    font-weight: 550;
    line-height: 15px;
    padding: 0px;
    margin: 0px;
    height: 32px;
    overflow: hidden;
}

.item-title:hover {
    color: #0984e3;
}

.item-price {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #f39c12;
}

.item-control {
    display: flex;
    justify-content: flex-end;
}

.item-control a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 5px;
    border: 1px solid #636e72;
    box-shadow: none;
    width: 60px;
    height: 32px;
    color: #636e72;
    background: inherit;
    transition: background 1.6s, color 1.6s. box-shadow 1.6s;
    cursor: pointer;
}

.item-control a:nth-child(1):hover {
    color: #fff;
    background: #d63031;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.item-control a:nth-child(2):hover {
    color: #fff;
    border: 0;
    background: #0984e3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.item-control a span {
    font-size: 14px;

}