<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="#{cshop.description}"/>
    <meta name="author" th:content="#{cshop.author}"/>

    <title>Cloth Shop</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/catalog.css}" rel="stylesheet"/>
    <link th:href="@{/css/cart-modal.css}" rel="stylesheet"/>
</head>
<body>
    <th:block th:include="header :: header"/>
    <div class="container">
        <div class="my-4">
            <h2>Result for "All"</h2>
            <big th:text="'('+ ${itemCount} + ' Items found)'"/>
        </div>
        <div class="row">
            <div class="col-lg-3 catalog-item" th:each="item : ${items}">
                <div class="card h-100">
                    <div class="catalog-item-img">
                        <img class="card-img-top" th:src="@{${item.images[0].src}}" alt=""/>
                        <div href="#" class="card-img-overlay text-center">
                            <ul class="catalog-item-option">
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Click to view">
                                        <i class="material-icons">pageview</i>
                                    </a>
                                </li>
                                <li>
                                    <form action="/cart/add" method="get">
                                        <input type="hidden" name="itemId" th:value="${item.id}"/>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="item-option-add-to-cart" data-toggle="tooltip" data-placement="bottom" title="Add to cart">
                                                <i class="material-icons">shopping_cart</i>
                                            </a>
                                        </span>
                                    </form>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add to favorite">
                                        <i class="material-icons">favorite</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <h6 class="card-title">
                                <a href="#"><span th:text="${item.name}"/></a>
                            </h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                                euismod odio, gravida pellentesque urna varius vitae.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; ermdev.io 2017</p>
        </div>
    </footer>
    <div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="cart-modal-title"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cart-modal-title">
                        <i class="material-icons">assignment_turned_in</i>
                        Item successfully added to your cart
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
                    <button type="button" class="btn btn-success">Proceed to checkout</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/pooper/pooper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/cart.js}"></script>
    <script th:src="@{/js/catalog.js}"></script>
</body>

</html>
