<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}" href="static/css/header.css"/>
</head>
<body>
    <header th:fragment="header" class="header-default header-skin sans">
        <div class="header-brand"><a href="/"><img src="https://cdn.rawgit.com/rightscale/design-kit/master/media/logos/gov-logo.svg" alt="RightScale Governance"/></a></div>
        <div class="header-nav">
            <nav><a href="/">Mark one</a><a href="/">Mark two</a><a href="/">Mark three</a></nav>
        </div>
    </header>
</body>
</html>