<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>eCloth</title>
    <link rel="stylesheet" th:href="@{/css/libs/bootstrap.min.css}" href="/css/libs/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/header.css}" href="/css/header.css"/>
</head>
<body>

    <th:block th:include="header :: header" />
    <script th:src="@{/js/libs/jquery-3.2.1.min.js}" src="/js/libs/jquery-3.2.1.min.js"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}" src="/js/libs/bootstrap.min.js"></script>
    <script th:src="@{/js/header.js}" src="/js/header.js"></script>
</body>
</html>
