<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Ecommerce for clothing"/>
    <meta name="author" content="Rafael Manuel"/>

    <title>Cloth Shop</title>
    <!-- Google material fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for header html -->
    <link th:href="@{/css/v2/header.css}" rel="stylesheet"/>

    <!-- Custom styles for header html -->
    <link th:href="@{/css/v2/register.css}" rel="stylesheet"/>

</head>
<body>
    <th:block th:include="v2/header :: header"/>

    <div class="register-wrapper" enctype="utf8">
        <div class="register-title">
            <h2 th:text="#{label.register.title1}">Title 1</h2>
            <p th:text="#{label.register.title2}">Title 2</p>
        </div>

        <div class="form">
            <form th:object="${user}" action="/register" method="post" class="register-form">
                <div>
                    <input th:field="*{name}" placeholder="Name" />
                    <p th:each="error, iterStat : ${#fields.errors('name')}" th:text="${error}"
                       th:if="${iterStat.first}" class="form-error">Name error</p>
                </div>
                <div>
                    <input th:field="*{password}" type="password" placeholder="Password"/>
                    <p th:each="error, iterStat : ${#fields.errors('password')}" th:text="${error}"
                       th:if="${iterStat.first}" class="form-error">Password error</p>
                </div>
                <div>
                    <input th:field="*{email}" placeholder="Email"/>
                    <p th:each="error, iterStat : ${#fields.errors('email')}" th:text="${error}"
                       th:if="${iterStat.first}" class="form-error">Email error</p>
                </div>
                <button>create</button>
                <p class="message">Already registered? <a href="/login">Sign In</a></p>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; ermdev.io 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/v2/header.js}"></script>
</body>
</html>