body {
    display:flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.wrapper h1 {
    margin: auto;
    margin-top: 100px;
}

.wrapper p {
    margin: auto;
    display: inline-block;
}