
.register-wrapper {
  width: 360px;
  padding-top: 3%;
  margin: auto;
  padding-bottom: 200px;
}

.register-title {
  text-align: center;
}

.register-title p {
  font-weight: 300;
  color: #7f8c8d;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  -webkit-box-shadow: 0 2px 10px 0 rgba(135,152,164,0.8);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin-top: 16px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

input[name='name'] {
  margin: 0px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  margin-top: 20px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form p.form-error {
    color: #c0392b;
    font-size: 10px;
    position: absolute;
    right: 0px;
    padding: 0 45px;
}

.registration-message {
    width: 80%;
    margin: 8% auto;
    margin-bottom: 400px;
}

@media (max-width:360px) {

  .login-page {
    width: 90%;
    padding-bottom: 80px;
  }

  .login-error {
    width: 100%;
  }

  .register-error {
      width: 100%;
    }

  .form {
    width: 100%;
    padding: 45px 8px;
  }

  .form input {
    padding: 10px;
    font-size: 12px;
  }

  .form button {
    padding: 10px;
    font-size: 12px;
  }
}