<div th:fragment="search">
    <form action="/catalog" method="get" style="display:inline;" accept-charset="ISO-8859-1">
        <div style="position:relative;margin-left: 100px;">
            <input name="search" class="form-control" placeholder="Enter Keyword" th:value="${param.search eq null ? '' : param.search[0]}"
                   autocomplete="off" type="text"/>
            <button type="submit" class="btn btn-search">
                <span class="icon-magnifying-glass"></span>
            </button>
        </div>
    </form>
</div>