<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Ecommerce for clothing"/>
    <meta name="author" content="Rafael Manuel"/>

    <title>Cloth Shop</title>
    <!-- Google material fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for header html -->
    <link th:href="@{/css/v2/error.css}" rel="stylesheet"/>
</head>
<body>
    <div class="wrapper">
        <h1>403 Forbidden</h1>
        <div>
            <p th:text="${message}"/> <a href="/login">Login</a>
        </div>
    </div>
</body>
</html>