<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="#{cshop.description}"/>
    <meta name="author" th:content="#{cshop.author}"/>

    <title>Cloth Shop</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/remicon/css/remicon.css}" rel="stylesheet"/>
    <link th:href="@{/css/template.css}" rel="stylesheet"/>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid register">
    <div class="wrapper">
        <form th:object="${user}" action="/register" method="post" id="form-register">
            <div class="formGroup">
                <input class="input-error" th:field="*{name}" placeholder="Name" type="text" autocomplete="off"
                       th:if="${#lists.size(#fields.errors('name')) &gt; 0}"/>
                <input th:field="*{name}" placeholder="Name" type="text" autocomplete="off"
                       th:if="${#lists.size(#fields.errors('name')) eq 0}"/>
                <p th:each="error, iterStat : ${#fields.errors('name')}" th:text="${error}"
                   th:if="${iterStat.first}" class="inputError">Name error</p>
            </div>
            <div class="formGroup">
                <input class="input-error" th:field="*{password}" type="password" placeholder="Password"
                       th:if="${#lists.size(#fields.errors('password')) &gt; 0}"/>
                <input th:field="*{password}" type="password" placeholder="Password"
                       th:if="${#lists.size(#fields.errors('password')) eq 0}"/>
                <p th:each="error, iterStat : ${#fields.errors('password')}" th:text="${error}"
                   th:if="${iterStat.first}" class="inputError">Password error</p>
            </div>
            <div class="formGroup">
                <input class="input-error" th:field="*{email}" placeholder="Email" type="email" autocomplete="off"
                       th:if="${#lists.size(#fields.errors('email')) &gt; 0}"/>
                <input th:field="*{email}" placeholder="Email" type="email" autocomplete="off"
                       th:if="${#lists.size(#fields.errors('email')) eq 0}"/>
                <p th:each="error, iterStat : ${#fields.errors('email')}" th:text="${error}"
                   th:if="${iterStat.first}" class="inputError">Email error</p>
            </div>
            <button>Register me</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>
    </div>
</div>
<th:block th:include="fragment/footer :: footer"/>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/header.js}"></script>
</body>
</html>