<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" th:content="#{cshop.description}"/>
    <meta name="author" th:content="#{cshop.author}"/>

    <title>Cloth Shop</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/remicon/css/remicon.css}" rel="stylesheet"/>
    <link th:href="@{/css/template.css}" rel="stylesheet"/>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>

</head>
<body>
    <header>
        <th:block th:include="fragment/nav :: nav"/>
    </header>
    <div class="container-fluid validating">
        <div class="message">
            We sent an email to <b th:text="${email}" />. It contain a link you need to click in order to confirm your account.
            <p align="center">You need to do this before you can access our site as a registered member</p>
        </div>
        <div id="content">
            <ul class="selection">
                <li>
                    <form action="/register/resend-confirmation" method="post">
                        <input type="hidden" name="email" th:value="${email}"/>
                        <button>Resend Confirmation Email</button>
                    </form>
                </li>
                <li>
                    <form class="form-cancel-registration" action="register/change-email-address" method="post">
                        <input type="hidden" name="email" th:value="${email}"/>
                        <button>Change Email Address</button>
                    </form>
                </li>
                <li>
                    <form action="#" method="post">
                        <input type="hidden" name="userId" th:value="${userId}"/>
                        <button>Cancel Registration</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <!--<div class="alert alert-success registration-message reg-val-message" role="alert">-->
        <!--<p align="center">We sent an email to <b th:text="${email}" />. It contain a link you need to click in order to confirm-->
            <!--your account.-->
            <!--<p align="center">You need to do this before you can access our site as a registered member</p>-->
        <!--</p>-->
        <!---->
    <!--</div>-->


    <th:block th:include="fragment/footer :: footer"/>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <script>
        $("document").ready(function() {
            $(".form-cancel-registration").submit(function() {
                var new_email = prompt("Enter new email address");

                if (new_email != null) {
                    var input = $("<input>").attr("type", "hidden").attr("name", "new_email").val(new_email);
                    $(this).append($(input));
                    return true;
                } else {
                    return false;
                }
            });
        });
    </script>
</body>
</html>