.wrapper {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0px auto;
}

.thumbnail {
    margin-bottom: 0px;
}

.thumbnail img {
    height: 200px;
}

.catalog-item {
    margin-bottom: 30px;
}
#form-add-to-cart {

}

#option-panel {
    position: relative;
    border: 1px solid black;
    height: 400px;
    padding: 5px;
}

#tree {
    position: relative;
    height: 100%;
    display: block;
    overflow-x: scroll;
}

.list-group-item {
    position: relative;
    display: block;
    white-space: nowrap;
}
