
.navbar {
  padding: 0px 250px;
}

#search-item {
    width: 450px;
}

.dropdown-menu {
  border-top: 2px solid #c0392b;
  height: 310px;
  overflow-y: hidden;
}

#dropdown-cart {
  list-style: none;
  width: 300px;
  overflow-y: scroll;
  height: 250px;
  padding: 0px;
  margin: 0px;
}

.cart-item-remove {
    display: inline;
    margin-left: 170px;
}

.cart-item-image {
  width: 40px;
  height: 50px;
  border: 1px solid #ecf0f1;
  margin-left: 5px;
}

.cart-item-title {
  display: inline;
  font-weight: bold;
}

.dropdown-footer {
  background: #ecf0f1;
  width: 100%;
  height: 60px;
  padding: 20px 0px 5px 120px
}

.button{
    color:white;
    font-size:10px;;
    text-transform:uppercase;
    font-weight:200;
    height:24px;
    border-radius:2px;
    box-shadow:0 4px 2px rgba(0, 0, 0, 0.1);
    width: 80px;
}

.dropdown-footer button:nth-child(1) {
  border:1px solid #16a085;
  background-color:#16a085;
}

.dropdown-footer button:nth-child(2) {
  border:1px solid #c0392b;
  background-color:#c0392b;
}
